body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1839px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:249px;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:568px;
  top:132px;
  width:218px;
  height:249px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:116px;
  width:214px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:45px;
  background:inherit;
  background-color:rgba(102, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:835px;
  top:450px;
  width:154px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:150px;
  word-wrap:break-word;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:1058px;
  top:450px;
  width:786px;
  height:446px;
}
#u5_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:30px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:191px;
  word-wrap:break-word;
}
#u7_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:30px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:0px;
  width:195px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:191px;
  word-wrap:break-word;
}
#u9_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:30px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:0px;
  width:195px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:191px;
  word-wrap:break-word;
}
#u11_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:30px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:585px;
  top:0px;
  width:196px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:192px;
  word-wrap:break-word;
}
#u13_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:124px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:195px;
  height:124px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:45px;
  width:191px;
  word-wrap:break-word;
}
#u15_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:124px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:30px;
  width:195px;
  height:124px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:45px;
  width:191px;
  word-wrap:break-word;
}
#u17_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:124px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:30px;
  width:195px;
  height:124px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:54px;
  width:191px;
  word-wrap:break-word;
}
#u19_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:124px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:585px;
  top:30px;
  width:196px;
  height:124px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  text-align:left;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:192px;
  word-wrap:break-word;
}
#u21_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:90px;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:154px;
  width:195px;
  height:90px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:36px;
  width:191px;
  word-wrap:break-word;
}
#u23_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:90px;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:154px;
  width:195px;
  height:90px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:191px;
  word-wrap:break-word;
}
#u25_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:90px;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:154px;
  width:195px;
  height:90px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:36px;
  width:191px;
  word-wrap:break-word;
}
#u27_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:90px;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:585px;
  top:154px;
  width:196px;
  height:90px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  text-align:left;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:192px;
  word-wrap:break-word;
}
#u29_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:90px;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:244px;
  width:195px;
  height:90px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:36px;
  width:191px;
  word-wrap:break-word;
}
#u31_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:90px;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:244px;
  width:195px;
  height:90px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:191px;
  word-wrap:break-word;
}
#u33_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:90px;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:244px;
  width:195px;
  height:90px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:36px;
  width:191px;
  word-wrap:break-word;
}
#u35_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:90px;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:585px;
  top:244px;
  width:196px;
  height:90px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  text-align:left;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:192px;
  word-wrap:break-word;
}
#u37_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:107px;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:334px;
  width:195px;
  height:107px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:45px;
  width:191px;
  word-wrap:break-word;
}
#u39_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:107px;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:334px;
  width:195px;
  height:107px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:36px;
  width:191px;
  word-wrap:break-word;
}
#u41_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:107px;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:334px;
  width:195px;
  height:107px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:45px;
  width:191px;
  word-wrap:break-word;
}
#u43_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:107px;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:585px;
  top:334px;
  width:196px;
  height:107px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  text-align:left;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:192px;
  word-wrap:break-word;
}
#u45_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:178px;
  width:154px;
  height:51px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:150px;
  word-wrap:break-word;
}
#u47_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:36px;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:403px;
  top:54px;
  width:68px;
  height:47px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:36px;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u49_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:178px;
  width:154px;
  height:51px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:150px;
  word-wrap:break-word;
}
#u51_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:878px;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:507px;
  top:54px;
  width:1px;
  height:877px;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:430px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:36px;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:54px;
  width:145px;
  height:47px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:36px;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u55_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:60px;
  width:113px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u57_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:780px;
  top:58px;
  width:57px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:204px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#FF0000;
}
#u59_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:54px;
  height:8px;
}
#u59_seg1 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:-9px;
  width:19px;
  height:18px;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:-25px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:178px;
  width:154px;
  height:51px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:150px;
  word-wrap:break-word;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:384px;
  top:204px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#FF0000;
}
#u63_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:220px;
  height:8px;
}
#u63_seg1 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:-9px;
  width:19px;
  height:18px;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u65_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:835px;
  top:279px;
  width:154px;
  height:51px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:150px;
  word-wrap:break-word;
}
#u67_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:279px;
  width:154px;
  height:51px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:150px;
  word-wrap:break-word;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:835px;
  top:305px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#FF0000;
}
#u69_seg0 {
  border-width:0px;
  position:absolute;
  left:-81px;
  top:-4px;
  width:85px;
  height:8px;
}
#u69_seg1 {
  border-width:0px;
  position:absolute;
  left:-87px;
  top:-9px;
  width:19px;
  height:18px;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:-90px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#FF0000;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:669px;
  top:354px;
  width:29px;
  height:18px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#FF0000;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:568px;
  top:257px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#FF0000;
}
#u73_seg0 {
  border-width:0px;
  position:absolute;
  left:-166px;
  top:-4px;
  width:166px;
  height:8px;
}
#u73_seg1 {
  border-width:0px;
  position:absolute;
  left:-166px;
  top:-4px;
  width:8px;
  height:84px;
}
#u73_seg2 {
  border-width:0px;
  position:absolute;
  left:-188px;
  top:72px;
  width:30px;
  height:8px;
}
#u73_seg3 {
  border-width:0px;
  position:absolute;
  left:-188px;
  top:76px;
  width:8px;
  height:4px;
}
#u73_seg4 {
  border-width:0px;
  position:absolute;
  left:-193px;
  top:63px;
  width:18px;
  height:19px;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:-180px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u75_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:307px;
  width:154px;
  height:51px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:150px;
  word-wrap:break-word;
}
#u77_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:546px;
  width:154px;
  height:51px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:150px;
  word-wrap:break-word;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:568px;
  top:257px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#FF0000;
}
#u79_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:8px;
  height:4px;
}
#u79_seg1 {
  border-width:0px;
  position:absolute;
  left:-28px;
  top:-4px;
  width:32px;
  height:8px;
}
#u79_seg2 {
  border-width:0px;
  position:absolute;
  left:-28px;
  top:-4px;
  width:8px;
  height:272px;
}
#u79_seg3 {
  border-width:0px;
  position:absolute;
  left:-265px;
  top:260px;
  width:245px;
  height:8px;
}
#u79_seg4 {
  border-width:0px;
  position:absolute;
  left:-265px;
  top:260px;
  width:8px;
  height:30px;
}
#u79_seg5 {
  border-width:0px;
  position:absolute;
  left:-270px;
  top:276px;
  width:18px;
  height:19px;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:-74px;
  top:242px;
  width:100px;
  word-wrap:break-word;
}
#u81_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:447px;
  width:154px;
  height:51px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:150px;
  word-wrap:break-word;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:498px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#FF0000;
}
#u83_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:52px;
}
#u83_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:35px;
  width:18px;
  height:19px;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:358px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#FF0000;
}
#u85_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:93px;
}
#u85_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:76px;
  width:18px;
  height:19px;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:36px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:634px;
  width:154px;
  height:51px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:150px;
  word-wrap:break-word;
}
#u89_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:808px;
  width:154px;
  height:51px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:150px;
  word-wrap:break-word;
}
#u91_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:724px;
  width:154px;
  height:51px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:150px;
  word-wrap:break-word;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:597px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#FF0000;
}
#u93_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:41px;
}
#u93_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:24px;
  width:18px;
  height:19px;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:685px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#FF0000;
}
#u95_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:43px;
}
#u95_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:26px;
  width:18px;
  height:19px;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:607px;
  top:447px;
  width:154px;
  height:51px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:150px;
  word-wrap:break-word;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:384px;
  top:473px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#FF0000;
}
#u99_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:227px;
  height:8px;
}
#u99_seg1 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:-9px;
  width:19px;
  height:18px;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:607px;
  top:634px;
  width:154px;
  height:51px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:150px;
  word-wrap:break-word;
}
#u103_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:607px;
  top:724px;
  width:154px;
  height:51px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:150px;
  word-wrap:break-word;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:384px;
  top:660px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#FF0000;
}
#u105_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:227px;
  height:8px;
}
#u105_seg1 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:-9px;
  width:19px;
  height:18px;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:384px;
  top:750px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#FF0000;
}
#u107_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:227px;
  height:8px;
}
#u107_seg1 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:-9px;
  width:19px;
  height:18px;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:761px;
  top:473px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#FF0000;
}
#u109_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:78px;
  height:8px;
}
#u109_seg1 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:-9px;
  width:19px;
  height:18px;
}
#u110 {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:45px;
  background:inherit;
  background-color:rgba(102, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
}
#u111 {
  border-width:0px;
  position:absolute;
  left:835px;
  top:637px;
  width:154px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
}
#u112 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:150px;
  word-wrap:break-word;
}
#u113 {
  border-width:0px;
  position:absolute;
  left:761px;
  top:660px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#FF0000;
}
#u113_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:78px;
  height:8px;
}
#u113_seg1 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:-9px;
  width:19px;
  height:18px;
}
#u114 {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:45px;
  background:inherit;
  background-color:rgba(102, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
}
#u115 {
  border-width:0px;
  position:absolute;
  left:835px;
  top:727px;
  width:154px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
}
#u116 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:150px;
  word-wrap:break-word;
}
#u117 {
  border-width:0px;
  position:absolute;
  left:761px;
  top:750px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#FF0000;
}
#u117_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:78px;
  height:8px;
}
#u117_seg1 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:-9px;
  width:19px;
  height:18px;
}
#u118 {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:187px;
}
#u119 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:567px;
  width:39px;
  height:186px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
}
#u120 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:85px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u121_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:45px;
  background:inherit;
  background-color:rgba(102, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
}
#u121 {
  border-width:0px;
  position:absolute;
  left:835px;
  top:876px;
  width:154px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
}
#u122 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:150px;
  word-wrap:break-word;
}
#u123_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u123 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:634px;
  width:15px;
  height:62px;
}
#u124 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u125 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:775px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#FF0000;
}
#u125_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:37px;
}
#u125_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:20px;
  width:18px;
  height:19px;
}
#u126 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u127_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
}
#u127 {
  border-width:0px;
  position:absolute;
  left:607px;
  top:873px;
  width:154px;
  height:51px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
}
#u128 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:150px;
  word-wrap:break-word;
}
#u129 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:660px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#FF0000;
}
#u129_seg0 {
  border-width:0px;
  position:absolute;
  left:-18px;
  top:-4px;
  width:18px;
  height:8px;
}
#u129_seg1 {
  border-width:0px;
  position:absolute;
  left:-18px;
  top:-4px;
  width:8px;
  height:247px;
}
#u129_seg2 {
  border-width:0px;
  position:absolute;
  left:-18px;
  top:235px;
  width:461px;
  height:8px;
}
#u129_seg3 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:230px;
  width:19px;
  height:18px;
}
#u130 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:222px;
  width:100px;
  word-wrap:break-word;
}
#u131 {
  border-width:0px;
  position:absolute;
  left:761px;
  top:899px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#FF0000;
}
#u131_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:78px;
  height:8px;
}
#u131_seg1 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:-9px;
  width:19px;
  height:18px;
}
#u132 {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u133 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:14px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#FF0000;
}
#u133_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:54px;
  height:8px;
}
#u133_seg1 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:-9px;
  width:19px;
  height:18px;
}
#u134 {
  border-width:0px;
  position:absolute;
  left:-25px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u135_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u135 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:20px;
  width:43px;
  height:18px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u136 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u137 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:17px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#FF0000;
}
#u137_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:55px;
  height:8px;
}
#u137_seg1 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:-9px;
  width:19px;
  height:18px;
}
#u138 {
  border-width:0px;
  position:absolute;
  left:-24px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u139_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#66FF00;
}
#u139 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:20px;
  width:57px;
  height:18px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#66FF00;
}
#u140 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u141 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u142_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
}
#u142 {
  border-width:0px;
  position:absolute;
  left:1118px;
  top:9px;
  width:145px;
  height:41px;
  font-size:36px;
}
#u143 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u144_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u144 {
  border-width:0px;
  position:absolute;
  left:1058px;
  top:4px;
  width:50px;
  height:50px;
}
#u145 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
